@using CuratorMagazineWebAPI.Models.Entities
@using Microsoft.AspNetCore.Components
@using Newtonsoft.Json
@using JsonSerializer = System.Text.Json.JsonSerializer
@using CuratorMagazineBlazorApp.Data.Services
@using CuratorMagazineWebAPI.Models.Entities.Domains


<div class="modal fade" aria-labelledby="addModelLabel" style="display: none;" aria-hidden="true" tabindex="-1" id="addModal">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title">Добавление</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <Form Model="@_curator"
                              OnFinish="OnFinish"
                              OnFinishFailed="OnFinishFailed"
                              LabelColSpan="8"
                              WrapperColSpan="16">
                            <div class="col-md-6">
                                <FormItem Label="ФИО">
                                    <div class="col-ms-10">
                                        <Input @bind-Value="@context.Name" />
                                    </div>
                                </FormItem>
                            </div>
                            <div class="col-md-6">
                                <FormItem Label="Подразделение">
                                    <div class="col-ms-10">
                                        <Select Mode="default"
                                                DataSource="@_divisions"
                                                @bind-Value="@context.Division"
                                                LabelName="@nameof(Division.Name)"
                                                ValueName="@nameof(Division.Name)">
                                        </Select>
                                    </div>
                                </FormItem>
                            </div>
                            <div class="col-md-6">
                                <FormItem Label="Телефон">
                                    <div class="col-ms-10">
                                        <Input @bind-Value="@context.Phone" />
                                    </div>
                                </FormItem>
                            </div>
                            <div class="col-md-6">
                                <FormItem Label="Email">
                                    <div class="col-ms-10">
                                        <Input @bind-Value="@context.Email" />
                                    </div>
                                </FormItem>
                            </div>
                            <div class="col-md-6">
                                <FormItem Label="Группа">
                                    <div class="col-ms-10">
                                        <Input @bind-Value="@context.Group" />
                                    </div>
                                </FormItem>
                            </div>
                            <div class="col-md-6">
                                <FormItem Label="Пароль">
                                    <div class="col-ms-10">
                                        <Input @bind-Value="@context.Password" />
                                    </div>
                                </FormItem>
                            </div>

                            <FormItem WrapperColOffset="8" WrapperColSpan="16">
                                <Button Type="@ButtonType.Primary" HtmlType="submit" OnClick="ChangeCurator">
                                    Добавить
                                </Button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                            </FormItem>
                        </Form>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

@code {

}